<form [formGroup]="taskFormGroup" class="form-container">
    <div>
        <h1>Edit Task</h1>
        <div class="form-group">
            <label for="name">Nazwa</label>
            <input
            formControlName="name"
            type="text">
        </div>
        <div class="form-group">
            <label for="description">Opis</label>
            <input
            formControlName="description"
            type="text">
        </div>
        <div class="form-group">
            <label for="priority">Priorytet</label>
            <input
            formControlName="priority"
            type="text">
        </div>
        <div class="form-group">
            <label for="state">Status</label>
            <select id="state" name="state" required formControlName="state">
              <option *ngFor="let value of workStatusValues" [value]="value">
                {{ value }}
              </option>
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Data Rozpoczęcia</label>
            <input
            formControlName="startDate"
            type="date">
        </div>
        <div class="form-group">
            <label for="endDate">Data Zakończenia</label>
            <input
            formControlName="endDate"
            type="date">
        </div>
        <button (click)="saveUpdatedTask()" type="button">Edytuj</button>
    </div>
</form>
