<form [formGroup]="taskForm" (ngSubmit)="addTask()" class="task-form">
  <div class="container">
    <h1 class="form-title">Utwórz Zadanie</h1>
    <div class="form-content">
      <div class="form-group">
        <label for="name" class="form-label">Nazwa</label>
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          required
          class="form-input"
        >
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Opis</label>
        <input
          type="text"
          id="description"
          name="description"
          formControlName="description"
          required
          class="form-input"
        >
      </div>
      <div class="form-group">
        <label for="priority" class="form-label">Priorytet</label>
        <input
          type="text"
          id="priority"
          name="priority"
          formControlName="priority"
          required
          class="form-input"
        >
      </div>

      <div class="form-group">
        <label for="functionality" class="form-label">Funkcjonalność</label>
        <select formControlName="functionality" class="form-select">
          <option *ngFor="let functionality of functionalityList" [value]="functionality.ID">{{ functionality.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="status" class="form-label">Status</label>
        <select id="status" name="status" formControlName="status" required class="form-select">
          <option *ngFor="let status of workStatusValues" [value]="status">{{ status }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="startDate" class="form-label">Data Rozpoczęcia</label>
        <input
          type="date"
          id="startDate"
          name="startDate"
          formControlName="startDate"
          required
          class="form-input"
        >
      </div>
      <div class="form-group">
        <label for="endDate" class="form-label">Data Zakończenia</label>
        <input
          type="date"
          id="endDate"
          name="endDate"
          formControlName="endDate"
          required
          class="form-input"
        >
      </div>
    </div>
  </div>
  <button class="btn-create-task">Utwórz</button>
</form>
